@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
:root {
  font-family: 'Questrial', sans-serif !important;
}

.p-component,
.p-inputtext {
  font-family: inherit;
}

.p-placeholder {
  color: #959595;
}
